extends ../../layouts/defaultDetail.pug
include ../../mixins/Alert

block content  
    +alert-success("5000")
    .container.my-3
        .row 
            .col-12 
                h4 Đặt hàng thành thành công
        .row 
            .col-12 
                div(class="alert alert-success")
                    | Chúc mừng bạn đã đặt hàng thành công, chúng tôi sẽ xử lý đơn hàng trong thời gian sớm nhất.
        if(order)
            .row
                .col-12 
                    h4(class="mb-2") Thông tin cá nhân
                    table(
                        class="table table-bordered"
                    )
                        tbody
                            tr  
                                td Họ tên
                                td
                                    b #{order.userInfor.fullName} 
                            tr 
                                td Số điện thoại
                                td
                                    b #{order.userInfor.phone} 
                            tr 
                                td Số điện thoại
                                td
                                    b #{order.userInfor.address} 

            .row
                .col-12
                    h4(class="mb-2") Thông tin đơn hàng
                    table(
                        class="table table-hover table-bordered"
                    )
                        thead 
                            tr 
                                th STT 
                                th Hình ảnh
                                th Tên
                                th Giá
                                th Số lượng 
                                th Tổng tiền

                        tbody 
                            each pro,idx in order.products
                                tr 
                                    td  #{idx + 1}
                                    td 
                                        img(src=pro.productInfor.thumbnail, alt="anh sp", width= "100px", height= "auto")
                                    td 
                                        a(href=`/products/detail/${pro.product_id}`) #{pro.productInfor.title}
                                    td #{pro.productInfor.newPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}<i class="fa-solid fa-dong-sign"></i>
                                    td #{pro.quantity}
                                    td #{pro.totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}<i class="fa-solid fa-dong-sign"></i>
                    h3(class="text-end") Tổng đơn hàng : #{order.total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}<i class="fa-solid fa-dong-sign"></i>


    script(src="/js/cart.js")