extends ../../layout/default.pug 
include ../../mixins/Alert
include ../../mixins/select-tree
block main 
    +alert-error(5000)
    +alert-success(5000)

    h1(class="mb-4") Sửa thông tin danh mục

    form(
        action=`${prefixAdmin}/products-category/edit/${category.id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    ) 
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                value=category.title
                class="form-control"
                id="title"
                name="title"
                required
            )
        div(class="form-group")
            label(for="parent_id") Danh mục cha 
            select(
                name="parent_id"
                id="parent_id"
                class="form-control"
            ) 
                option(value="") -- Chọn danh mục cha --
                if(categorys)
                    +select-tree(categorys,1,category.parent_id)

        div(class="form-group")
            label(for="desc") Mô tả
            textarea(
                class="form-control mce"
                id="desc"
                name="description"
                rows="5"
            ) #{category.description}
        div(
            class="form-group"
            upload-image
        )
            label(for="thumbnail") Ảnh 
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                style="display: block"
                accept="image/*"
                upload-image-input
            )
            img(
                src=category.thumbnail
                alt=""
                upload-image-preview
                class="image-preview"
                )
        div(class="form-group")
            label(for="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
                min="1"
                value=category.position
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(category.status == "active" ? true : false)
            ) 
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInactive"
                name="status"
                value="inactive"
                checked = (category.status == "inactive" ? true : false)
            ) 
            label(for="statusInactive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Sửa
    script(src="/admin/js/products-category.js")