mixin category-infor(categorys,level=1)
    - const prefix = Array(level+1).join("-- ")
    each item, index in categorys   
        tr 
            td 
                input(
                    type = "checkbox"
                    name = "id"
                    value = item.id
                )
            td #{item.index}
            //- td  #{pagination.skip+index+1} 
            td 
                img(src=item.thumbnail, alt=item.title, width= "100px", height= "auto")
            td #{prefix}#{item.title}
            td 
                input(
                    type="number",
                    value= item.position,
                    style="width: 60px",
                    min="1",
                    name="position"
                )
            td 
                if item.status == "active"
                    a(
                        href= `javascript:;` 
                        data-status= item.status
                        data-id = item.id 
                        button-change-status=""
                        class="badge text-bg-success" 
                        style="text-decoration: none"
                    ) hoạt động      
                else 
                    a(
                        href="javascript:;" 
                        data-status= item.status
                        data-id = item.id 
                        button-change-status=""
                        class="badge text-bg-danger" 
                        style="text-decoration: none"
                    ) Dừng hoạt động
                
            td  
                a(
                    class="btn btn-secondary btn-sm me-1"
                    href=`${prefixAdmin}/products-category/detail/${item.id}`
                ) Chi tiết 
                if(roleMDW.permissions.includes("products-category_edit"))
                    a(
                        class="btn btn-warning btn-sm me-1"
                        href=`${prefixAdmin}/products-category/edit/${item.id}`
                    ) Sửa           
                if(roleMDW.permissions.includes("products-category_delete"))       
                    button(
                        class="btn btn-danger btn-sm" 
                        btn-delete 
                        data-id= item.id
                    ) Xóa

        if item.children && item.children.length > 0
            +category-infor(item.children,level+1)