extends ../../layout/default.pug 
include ../../mixins/Alert

block main 
    +alert-error(5000)
    +alert-success(5000)

    h1(class="mb-4") Chỉnh sửa nhóm quyền

    form(
        action=`${prefixAdmin}/roles/edit/${role.id}?_method=PATCH`
        method="POST"
    ) 
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                value=role.title
                required
            )

        div(class="form-group")
            label(for="desc") Mô tả
            textarea(
                class="form-control mce"
                id="desc"
                name="description"
                rows="5"
            ) !{role.description}
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Sửa
