.sider 
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Tổng quan
            if(roleMDW.permissions.includes("products-category_view"))
                li 
                    a(href=`${prefixAdmin}/products-category`) Danh mục sản phẩm
            if(roleMDW.permissions.includes("products_view"))
                li 
                    a(href=`${prefixAdmin}/products`) Danh sách sản phẩm
            if(roleMDW.permissions.includes("roles_view"))
                li 
                    a(href=`${prefixAdmin}/roles`) Danh sách nhóm quyền
            li 
                a(href=`${prefixAdmin}/brands`) Thương hiệu
            li 
                a(href=`${prefixAdmin}/artical`) Bài viết
            li 
                a(href=`${prefixAdmin}/artical-category`) Danh mục bài viết
            if(roleMDW.permissions.includes("roles_permission"))
                li 
                    a(href=`${prefixAdmin}/roles/permissions`) Phân quyền
            if(roleMDW.permissions.includes("accounts_view"))
                li 
                    a(href=`${prefixAdmin}/accounts`) Danh sách tài khoản
            