extends ../../layouts/auth.pug 
include ../../mixins/Alert

block main
    +alert-error(5000)
    .container.my-5
        .row.justify-content-center 
            div.col-4
                h1(class="text-center") Đăng nhập
                form(
                    action=`/user/login`
                    method="POST"
                )
                    div(class="form-group")
                        label(for="email") Email
                        input(
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                        )
                    div(class="form-group")
                        label(for="password") Mật khẩu
                        input(
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            required
                        )  
                    div(class="form-group my-2")
                        button(
                            type="submit"
                            class="btn btn-primary btn-block"
                        )   Đăng nhập